
<div class="px-4 pb-4 xl:pt-4 sm:pt-32">
  <div
    class="grid gap-4 p-4 mb-5 border border-black place-items-center"
  >
    <h1 class="text-4xl text-center select-none font-play-fair">Gallery</h1>
    <image-uploader></image-uploader>
  </div>

  <div class="flex flex-wrap items-center justify-center gap-4">
    @for (file of files; track file) {
      @if (file.originalFileUrl) {
        <img
          src="{{
            'https://ucarecdn.com/' +
              file.uuid +
              '/-/scale_crop/300x300/-/format/auto/-/quality/smart_retina/'
          }}"
          alt="{{ file.originalFilename }}"
          class="xl:block sm:hidden"
        />
        <img
          src="{{
            'https://ucarecdn.com/' +
              file.uuid +
              '/-/scale_crop/100x100/-/format/auto/-/quality/smart_retina/'
          }}"
          alt="{{ file.originalFilename }}"
          class="xl:hidden sm:block"
        />
      }
    }
  </div>
</div>
