<lr-config
  ctx-name="my-uploader"
  pubkey="5e967ecdb0579b9e7d69"
  multiple="true"
  removeCopyright="true"
  sourceList="local,url,camera,gdrive"
></lr-config>
<lr-upload-ctx-provider
  ctx-name="my-uploader"
  #ctxProvider
></lr-upload-ctx-provider>

<!-- Gallery Start -->

<div class="">
  <div
    class="xl:flex-row flex sm:flex-col items-center w-full border border-gray-900 p-4 mb-6 sm:justify-center sm:gap-4 xl:gap-0 xl:justify-between"
  >
    <div class="sm:hiden xl:block"></div>
    <h1 class="font-play-fair text-4xl text-center select-none">Gallery</h1>
    <lr-file-uploader-regular
      class="z-0"
      ctx-name="my-uploader"
      css-src="https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.30.5/web/lr-file-uploader-regular.min.css"
    ></lr-file-uploader-regular>
  </div>

  <div class="flex flex-wrap gap-4">
    @for (file of files; track file) {
      @if (file.originalFileUrl) {
        <img
          src="{{
            'https://ucarecdn.com/' +
              file.uuid +
              '/-/scale_crop/300x300/-/format/auto/-/quality/smart_retina/'
          }}"
          alt="{{ file.originalFilename }}"
          class="xl:block sm:hidden"
        />
        <img
          src="{{
            'https://ucarecdn.com/' +
              file.uuid +
              '/-/scale_crop/100x100/-/format/auto/-/quality/smart_retina/'
          }}"
          alt="{{ file.originalFilename }}"
          class="xl:hidden sm:block"
        />
      }
    }
  </div>
</div>
