<!-- ANNOUNCEMENT -->

<div
  class="w-full h-8 font-semibold bg-firefly flex items-center sm:justify-center md:px-10 md:justify-between text-white text-base"
>
  <div class="sm:hidden md:block"></div>
  <span class="flex-grow text-center"
    >Infuse Artistry into Your Photographs</span
  >
  <div class="md:flex gap-2.5 sm:hidden">
    <i class="fa-brands fa-facebook fa-flag cursor-pointer"></i>
    <i class="fa-brands fa-instagram fa-flag cursor-pointer"></i>
    <i class="fa-brands fa-pinterest fa-flag cursor-pointer"></i>
    <i class="fa-brands fa-youtube fa-flag cursor-pointer"></i>
  </div>
</div>

<!-- HEADER -->
<div
  class="xl:grid grid-cols-3 sm:flex sm:justify-between items-center xl:py-7 xl:px-9 sm:py-3.5 sm:px-4 border-b"
>
  <div class="xl:flex text-base gap-6 sm:hidden">
    <span class="hover:underline cursor-pointer hover:scale-110 select-none"
      >Get Started</span
    >
    <span class="hover:underline cursor-pointer hover:scale-110 select-none"
      >How It Works ?</span
    >
    <span class="hover:underline cursor-pointer hover:scale-110 select-none"
      >Pricing</span
    >
    <span class="hover:underline cursor-pointer hover:scale-110 select-none"
      >Gallery</span
    >
    <span class="hover:underline cursor-pointer hover:scale-110 select-none"
      >About Us</span
    >
  </div>
  <div class="flex items-center justify-center select-none">
    <img class="h-10 w-10 mr-2" src="{{ applogo }}" />
    <span class="xl:text-3xl sm:text-xl font-mono">Art</span>
    <span class="font-bold xl:text-3xl sm:text-xl font-mono">Seller</span>
  </div>
  <div class="flex gap-6 items-center justify-end select-none">
    <div
      (click)="toggleMenu()"
      class="menu-btn"
      [ngClass]="{ '': !menuState, open: menuState }"
    >
      <div class="menu-btn__burger"></div>
    </div>
  </div>
</div>

<!-- MOBILE DROPDOWN -->

<div
  [ngClass]="{
    'transition-all h-0 ease-in-out  duration-150 -translate-y-2.5 opacity-0':
      !menuState,
    'h-[308px] transition-all duration-300  translate-y-0 opacity-1 ': menuState
  }"
  class="w-full z-0 absolute bg-firefly text-white"
>
  <div class="divide-y-2 text-xl font-medium text-center">
    <div class="p-4">Get Started</div>
    <div class="p-4">How it Works?</div>
    <div class="p-4">Gallery</div>
    <div class="p-4">Pricing</div>
    <div class="p-4">About Us</div>
  </div>
</div>

<div class="z-10 text-teal-300 text-xl">3</div>
