<div class="w-full h-8 font-semibold bg-firefly flex items-center sm:justify-center md:px-10 md:justify-between text-white text-base">
  <div class="sm:hidden md:block"></div>
  <span class="flex-grow text-center">Infuse Artistry into Your Photographs</span>
  <div class="md:flex gap-2.5 sm:hidden">
    <i class="fa-brands fa-facebook fa-flag cursor-pointer"></i>
    <i class="fa-brands fa-instagram fa-flag cursor-pointer"></i>
    <i class="fa-brands fa-pinterest fa-flag cursor-pointer"></i>
    <i class="fa-brands fa-youtube fa-flag cursor-pointer"></i>
  </div>
</div>


<div class="xl:grid grid-cols-3 sm:flex sm:justify-between items-center xl:py-7 xl:px-9 sm:py-3.5 sm:px-4 border-b">
  <div class="xl:flex text-base gap-6 sm:hidden ">
    <span class="hover:underline cursor-pointer hover:scale-110">Get Started</span>
    <span class="hover:underline cursor-pointer hover:scale-110">How It Works ?</span>
    <span  class="hover:underline cursor-pointer hover:scale-110">Pricing</span>
    <span class="hover:underline cursor-pointer hover:scale-110">About Us</span>
  </div>
  <div class="flex items-center justify-center">
    <img class="h-10 w-10 mr-2" src="{{ applogo }}" />
    <span class="xl:text-3xl sm:text-xl font-mono">Art</span>
    <span class="font-bold xl:text-3xl sm:text-xl font-mono">Seller</span>
  </div>
  <div class="flex gap-6 justify-end">
    <i class="fa-solid fa-2x cursor-pointer fa-user"></i>
    <i class="fa-sharp fa-solid fa-bars fa-2x cursor-pointer xl:hidden"></i>
  </div>
</div>

