<div class="flex justify-between items-center py-7 px-9 drop-shadow-lg shadow-lg">
  <div class="">
    <div class="flex items-center">
      <img class="h-10 w-10 mr-2" src="{{ applogo }}" />
      <span class="text-3xl">Art</span>
      <span class="font-medium text-3xl">Seller</span>
    </div>
  </div>
  <div class="flex gap-6">
    <i class="fa-solid fa-user fa-2x cursor-pointer" style="color: #FF5733"></i>
    <i class="fa-solid fa-cart-shopping fa-2x cursor-pointer"></i>
    <i class="fa-sharp fa-solid fa-bars fa-2x cursor-pointer"></i>
  </div>
</div>
