<lr-config
  ctx-name="my-uploader"
  pubkey="344e29953119e1cab885"
  max-local-file-size-bytes="10000000"
  removeCopyright="true"
  multiple="true"
  img-only="true"
  source-list="local, url, camera, facebook, gdrive, gphotos, instagram"
></lr-config>

<lr-upload-ctx-provider
  ctx-name="my-uploader"
  #ctxProvider
></lr-upload-ctx-provider>

<div class="flex flex-col justify-center px-4 pb-4 xl:pt-4 sm:pt-32">
  <h1
    class="py-5 font-bold text-center text-nileblue sm:text-xl xl:text-5xl font-play-fair"
  >
    Custom Sketch
  </h1>
  <div class="flex">
    <mat-stepper orientation="vertical" [linear]="true" #stepper>
      <mat-step>
        <ng-template matStepLabel>Upload your Image</ng-template>
        <ng-template matStepContent class="">
          <div class="py-5">
            <div class="flex gap-5">
              <lr-file-uploader-regular
                css-src="https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.30.5/web/lr-file-uploader-regular.min.css"
                ctx-name="my-uploader"
                class="my-config"
              >
              </lr-file-uploader-regular>
              <div class="flex w-auto gap-5 sm:flex-col md:flex-row">
                @for (uploadedFile of uploadedFiles; track uploadedFiles) {
                  @if (uploadedFile.cdnUrl) {
                    <img src="{{ uploadedFile.cdnUrl }}" class="w-20 h-20" />
                  }
                }
              </div>
            </div>
          </div>
          <button mat-button matStepperNext class="text-bluelily">
            Next Step &#8594;
          </button>
        </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Choose the Number of Persons</ng-template>
        <ng-template matStepContent>
          <select
            class="p-1 mt-5 border cursor-pointer border-regalblue bg-bluelily rounded-2xl"
            name="No of People"          
            id=""
            [(ngModel)]="formData.numberOfPeople"            
          >
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5+">5+</option>
          </select>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Choose Your Canvas Size(inches)</ng-template>
        <ng-template matStepContent>
          <select
            class="p-2 mt-5 border cursor-pointer border-regalblue bg-bluelily rounded-2xl"
            name="No of People"
            id=""
            [(ngModel)]="formData.canvasSize"

          >
            <option value="8x10 in">8x10 in</option>
            <option value="11x14 in">11x14 in</option>
            <option value="12x16 in">12x16 in</option>
            <option value="16x20 in">16x20 in</option>
            <option value="20x24 in">20x24 in</option>
            <option value="24x36 in">24x36 in</option>
            <option value="30x40 in">30x40 in</option>
            <option value="36x48 in">36x48 in</option>
            <option value="48x72 in">48x72 in</option>
          </select>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Review Changes</ng-template>
        <div
          class="flex items-center justify-center p-3 mt-5 text-xl border cursor-pointer border-violet hover:bg-violet hover:text-white"
          (click)="submitForm()"
        >
          SUBMIT
        </div>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
    </mat-stepper>
  </div>
</div>
