
<div class="px-4 pb-4 xl:pt-4 sm:pt-32">
<p class="text-9xl font-play-fair">about works!</p>
<p class="text-9xl">about works!</p>
<p class="text-9xl">about works!</p>

<p class="text-9xl">about works!</p>
<p class="text-9xl">about works!</p>
<p class="text-9xl">about works!</p>
<p class="text-9xl">about works!</p>
<p class="text-9xl">about works!</p>


<p class="text-9xl">about works!</p>
<p class="text-9xl">about works!</p>
<p class="text-9xl">about works!</p>


<p class="text-9xl">about works!</p>


<p class="text-9xl">about works!</p>
<p class="text-9xl">about works!</p>
<p class="text-9xl">about works!</p>

<p class="text-9xl">about works!</p>
<p class="text-9xl">about works!</p>
<p class="text-9xl">about works!</p>

<p class="text-9xl">about works!</p>

</div>