<div
  class="flex flex-col items-center justify-center bg-no-repeat bg-cover sm:px-4 xl:px-0 xl:bg-right sm:py-60 bg-landingpage-pattern"
>
  <div class="flex flex-col gap-3">
    <h1 class="text-4xl font-bold font-play-fair text-regalblue">
      Get Your Own Custom Portrait
    </h1>
    <div class="flex">
      <p class="w-1/2 text-xl font-semibold text-midnight font-play-fair">
        Order and Transform Your Favourite Photos into Sketches
      </p>
    </div>
    <div routerLink="/services" class="flex p-3 text-white cursor-pointer select-none rounded-xl hover:bg-opacity-95 w-fit bg-nileblue">
        Get Started !
    </div>
  </div>
</div>
