/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.fa-flag{
    color: #6c7c99;
}

.fa-flag:hover {
    color: white;
}



/* Hamburger Animation */
.button-three {
  --button-color: black;
  overflow: hidden;
}

.button-three.expanded .hamburger {
  transition: transform 1s;
  transform: translate(10px, -4px) rotate(0.125turn);
}

.button-three .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.button-three.expanded .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}


